body {
    margin: 0 auto;
    height: 100vh;

    &>span{
        height: 30px;
        width: 30px;
    }

    // Меню настроек

    #top {
        display: grid;
        background-color: gray;
        grid-template-columns: 200px 1fr 200px;
        height: 40px;
        

        &>div {

            .scr {

                width: 200px;
                height: 40px;
                background-color: hsl(0, 0%, 48%);
                border: none;
                color: rgba(255, 255, 255, 0.551);
                letter-spacing: 0.3em;
                font-size: 16px;
            }

            .scr:hover {
                background-color: hsl(0, 2%, 75%);
                color: rgba(0, 0, 0, 0.671);
            }
        }



        #seting {
            justify-self: center;

            #speed {
                margin-right: 40px;
                margin-left: 30px;
                font-size: 18px;
            }

            #fill {
                margin-right: 30px;
                margin-left: 40px;
                font-size: 18px;
            }

            #time {
                height: 25px;
                width: 80px;
            }

            #sise {
                height: 25px;
                width: 80px;
            }

            #On {
                height: 25px;
                width: 80px;
            }

            &>.form {
                height: 35px;
                width: 100px;
                text-align: center;

            }
        }
    }

    #clean{
       height: 80vh;
       width: 200px;
       border: none;
       background-color: transparent;
       position: absolute;
       left: 0px;
       z-index: 5;
       color: transparent;
       top: 100px;
    }

    #show{
       height: 80vh;
       width: 200px;
       border: none;
       background-color: transparent;
       position: absolute;
       right: 0px;
       z-index: 5;
       color: transparent;
       top: 100px;
       vertical-align: middle;
       
    }

    #clean:hover{
        background-color:rgb(255, 255, 255);
        color: rgba(129, 42, 196, 0.949);
        font-size: 28px;
        vertical-align: middle;
    }
    #show:hover{
        background-color: rgb(255, 255, 255);;
        color:  rgba(129, 42, 196, 0.949);
        font-size:  28px;
        letter-spacing: 3px;
        
    }

   
   

    // Буквы

    #window {
        width: 100%;
        height: 90vh;
        margin: auto;
        position: absolute;

        &>div {
            position: absolute;
            text-align: center;

            p {
                font-size: 60px;
                margin: 0;
                color: black;
                font-family: Times;
                font-weight: bold;
            }
        }
    }
}