body {
  margin: 0 auto;
  height: 100vh;
}
body :active, body :hover, body :focus {
  outline: 0;
  outline-offset: 0;
}
body #top {
  width: 100%;
  margin: 0 auto;
}
body #top #top2 {
  display: grid;
  background-color: gray;
  grid-template-columns: 1.5fr 0.5fr 1.5fr 1fr;
  height: 120px;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
body #top #top2 #timer {
  width: 70px;
}
body #top #top2 #f2 {
  justify-self: end;
  width: 75%;
}
body #top #top2 #f2 #fullScr {
  border-radius: 5px;
  width: 90%;
  height: 30px;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.759);
  letter-spacing: 0.3em;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
  padding: 0;
}
body #top #top2 #f2 #fullScr:hover {
  background-color: hsl(0, 2%, 75%);
  color: rgba(0, 0, 0, 0.671);
  transition: 0.5s;
}
body #top #top2 #f1 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  gap: 20px;
}
body #top #top2 #f1 #timeCount {
  justify-self: center;
}
body #top #top2 #f1 #countdown {
  display: none;
}
body #top #top2 #f1 #dublicate {
  pointer-events: none;
  font-size: 20px;
  height: 35px;
  width: 100px;
  text-align: center;
}
body #top #top2 #f1 #TimeOnOff {
  display: grid;
  justify-self: end;
  grid-template-rows: 1fr 1fr;
  height: 80px;
  width: 40px;
  justify-items: center;
  margin-left: 15px;
}
body #top #top2 #f1 #TimeOnOff #playTime {
  cursor: pointer;
  border-radius: 20%;
  background-image: url(../img/Play_B.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 30px;
  border: none;
  align-self: center;
  width: 30px;
}
body #top #top2 #f1 #TimeOnOff #stopTime {
  cursor: pointer;
  border-radius: 20%;
  background-image: url(../img/Pause_B.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 30px;
  width: 30px;
  border: none;
  align-self: center;
}
body #top #top2 #f1 #f2_2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-self: end;
  cursor: pointer;
}
body #top #top2 #f1 #f2_2 > div {
  justify-self: center;
}
body #top #top2 #f1 #f2_2 > div #start {
  cursor: pointer;
  align-self: last baseline;
  -webkit-appearance: none;
  border-radius: 50%;
  height: 7px;
  margin-top: 0;
  margin-bottom: 0;
  width: 200px;
  background-color: rgb(206, 205, 205);
}
body #top #top2 #f1 #f2_2 > div #start::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
body #top #top2 #f1 #f2_2 #line {
  display: grid;
  width: 200px;
  height: 5px;
  justify-self: center;
}
body #top #top2 #f1 #f2_2 #line #numb {
  translate: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: 12px;
  color: rgb(255, 255, 255);
}
body #top #top2 #f1 #f2_2 #line #numb > div {
  translate: none;
}
body #top #top2 #f1 #f2_2 #line #numb :nth-of-type(1) {
  position: relative;
  right: 5px;
  bottom: 10px;
}
body #top #top2 #f1 #f2_2 #line #numb :nth-of-type(2) {
  position: relative;
  right: 5px;
  bottom: 6px;
}
body #top #top2 #f1 #f2_2 #line #numb :nth-of-type(3) {
  position: relative;
  right: 5px;
  bottom: 2px;
}
body #top #top2 #f1 #f2_2 #line #numb :nth-of-type(4) {
  position: relative;
  left: 5px;
  bottom: 6px;
}
body #top #top2 #f1 #f2_2 #line #numb :nth-of-type(5) {
  position: relative;
  left: 15px;
  bottom: 10px;
}
body #top #top2 #f1 #f2_2 #line #shpic {
  pointer-events: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: 16px;
  color: rgb(255, 255, 255);
}
body #top #top2 #f1 #f2_2 #line #shpic :nth-last-of-type(1) {
  justify-self: end;
  position: relative;
  right: 4px;
  bottom: 9px;
  translate: "no";
}
body #top #top2 #f1 #f2_2 #line #shpic :nth-last-of-type(2) {
  justify-self: center;
  position: relative;
  left: 5px;
  bottom: 6px;
  translate: "no";
}
body #top #top2 #f1 #f2_2 #line #shpic :nth-last-of-type(3) {
  justify-self: center;
  position: relative;
  right: 5px;
  bottom: 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
body #top #top2 #f1 #f2_2 #line #shpic :nth-last-of-type(4) {
  position: relative;
  left: 4px;
  bottom: 6px;
}
body #top #top2 #f1 #f2_2 #line #shpic :nth-last-of-type(5) {
  position: relative;
  left: 3px;
  bottom: 9px;
}
body #top #top2 #f3 {
  display: grid;
  grid-template-columns: 1fr 0.7fr 1fr;
  align-items: center;
  justify-items: center;
}
body #top #top2 #f3 #f3_1 {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-self: end;
}
body #top #top2 #f3 #f3_1 #f3_1_2 {
  justify-self: end;
  display: grid;
}
body #top #top2 #f3 #f3_1 #f3_1_2 #speed {
  background-color: white;
  border: none;
}
body #top #top2 #f3 #f3_1 #f3_1_2 .time {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.764);
  border: none;
  color: rgba(0, 0, 0, 0.671);
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
  justify-self: center;
}
body #top #top2 #f3 #f3_1 #f3_1_2 .time:hover {
  background-color: hsl(0, 0%, 40%);
  color: rgba(255, 255, 255, 0.764);
  transition: 0.5s;
}
body #top #top2 #f3 #f3_1 #f3_1_2 .time:active {
  background-color: white;
  color: black;
}
body #top #top2 #f3 #f3_1 #f3_1_1 {
  justify-self: end;
  width: 100%;
}
body #top #top2 #f3 #startReset {
  display: grid;
}
body #top #top2 #f3 #startReset #f3_2_2 {
  justify-self: start;
  width: 100%;
}
body #top #top2 #f3 #startReset #f3_2_2 #sise {
  align-self: center;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.764);
  letter-spacing: 0.3em;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0;
  cursor: pointer;
  transition: 0.5s;
}
body #top #top2 #f3 #startReset #f3_2_2 #sise:hover {
  background-color: hsl(0, 2%, 75%);
  color: rgba(0, 0, 0, 0.671);
  transition: 0.5s;
}
body #top #top2 #f3 #startReset #f3_2_2 #sise:active {
  background-color: white;
}
body #top #top2 #f3 #startReset #time {
  width: 100%;
  height: 40px;
  background-color: hsl(0, 0%, 40%);
  border: none;
  color: rgba(255, 255, 255, 0.768);
  letter-spacing: 0.3em;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0;
  cursor: pointer;
  transition: 0.5s;
}
body #top #top2 #f3 #startReset #time:hover {
  transition: 0.5s;
  background-color: hsl(0, 2%, 75%);
  color: rgba(0, 0, 0, 0.671);
}
body #top #top2 #f3 #startReset #time:active {
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
}
body #top #top2 #f3 #speed::-webkit-outer-spin-button,
body #top #top2 #f3 ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body #top #top2 #f3 #f3_2 {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 10px;
  justify-self: start;
}
body #top #top2 #f3 #f3_2 #f3_2_1 {
  display: grid;
}
body #top #top2 #f3 #f3_2 #f3_2_1 #fill {
  background-color: white;
  border: none;
}
body #top #top2 #f3 #f3_2 #f3_2_1 #Mix {
  background-color: white;
  height: 28px;
  width: 115px;
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
  pointer-events: none;
  text-align: center;
  box-sizing: border-box;
  padding-top: 3px;
  display: none;
}
body #top #top2 #f3 #f3_2 #f3_2_1 #MixPsevdo2 {
  background-color: white;
  height: 28px;
  width: 115px;
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
  pointer-events: none;
  text-align: center;
  box-sizing: border-box;
  padding-top: 3px;
  display: none;
}
body #top #top2 #f3 #f3_2 #f3_2_1 #MixPsevdo1 {
  background-color: white;
  height: 28px;
  width: 115px;
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
  pointer-events: none;
  text-align: center;
  box-sizing: border-box;
  padding-top: 3px;
  display: none;
}
body #top #top2 #f3 #f3_2 #f3_2_1 #fill::-webkit-outer-spin-button,
body #top #top2 #f3 #f3_2 #f3_2_1 ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body #top #top2 #f3 #f3_2 #f3_2_1 .sise {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.764);
  border: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.671);
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
  justify-self: center;
}
body #top #top2 #f3 #f3_2 #f3_2_1 .sise:hover {
  background-color: hsl(0, 0%, 40%);
  color: rgba(255, 255, 255, 0.764);
  transition: 0.5s;
}
body #top #top2 #f3 #f3_2 #f3_2_1 .sise:active {
  background-color: white;
  color: black;
}
body #top #top2 #f3 .form {
  height: 25px;
  width: 110px;
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
  pointer-events: none;
}
body #top #top2 #f4 {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  grid-template-rows: 3fr 1fr;
}
body #top #top2 #f4 .input {
  color: rgb(236, 233, 233);
  margin: 0 auto;
}
body #top #top2 #f4 .input:hover {
  font-size: 18px;
  cursor: pointer;
  -webkit-text-decoration: underline solid rgb(255, 255, 255);
          text-decoration: underline solid rgb(255, 255, 255);
  transition: 0.5s;
  color: white;
  box-sizing: content-box;
}
body #top #top2 #f4 #f4_1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
  width: 90%;
  justify-self: end;
}
body #top #top2 #f4 #f4_1 #su {
  grid-column: 1;
  grid-row: 2;
  accent-color: rgb(116, 255, 116);
  justify-self: start;
}
body #top #top2 #f4 #f4_1 #O {
  grid-column: 1;
  grid-row: 1;
  accent-color: rgb(116, 255, 116);
  justify-self: start;
  padding-right: 10%;
  align-self: end;
}
body #top #top2 #f4 #f4_1 #co {
  grid-row: 1;
  grid-column: 2;
  accent-color: rgb(105, 115, 255);
  justify-self: start;
  align-self: end;
}
body #top #top2 #f4 #f4_1 #CoEx {
  grid-row: 2;
  grid-column: 2;
  accent-color: rgb(105, 115, 255);
  justify-self: start;
}
body #top #top2 #f4 #f4_1 div > input {
  margin: 0;
}
body #top #top2 #f4 #language {
  justify-self: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
body #top #top2 #f4 #language span {
  font-size: 24px;
}
body #top #top2 #f4 #language #H {
  height: 30px;
  width: 50px;
}
body #top #top2 #f4 #language #H #he {
  height: 100%;
  width: 100%;
  font-size: 14px;
  color: rgb(0, 234, 0);
  border: none;
  background-color: transparent;
}
body #top #top2 #f4 #language #H #he:hover {
  cursor: pointer;
  -webkit-text-decoration: underline solid rgb(0, 234, 0);
          text-decoration: underline solid rgb(0, 234, 0);
}
body #top #top2 #f4 #language #R {
  height: 30px;
  width: 50px;
}
body #top #top2 #f4 #language #R #ru {
  font-size: 14px;
  color: rgb(4, 0, 218);
  border: none;
  background-color: transparent;
  height: 100%;
  width: 100%;
}
body #top #top2 #f4 #language #R #ru:hover {
  cursor: pointer;
  -webkit-text-decoration: underline solid rgb(4, 0, 218);
          text-decoration: underline solid rgb(4, 0, 218);
}
body #top #top2 #f4 #language #E {
  height: 30px;
  width: 50px;
}
body #top #top2 #f4 #language #E #en {
  font-size: 20px;
  color: rgb(218, 3, 3);
  border: none;
  background-color: transparent;
  height: 100%;
  width: 100%;
}
body #top #top2 #f4 #language #E #en:hover {
  cursor: pointer;
  -webkit-text-decoration: underline solid rgb(218, 3, 3);
          text-decoration: underline solid rgb(218, 3, 3);
}
body #top #top2 #f4 #language #lang {
  -webkit-appearance: none;
  width: 15px;
  height: 20px;
  align-self: center;
  border-radius: 40%;
  height: 7px;
  background: rgb(206, 205, 205);
  transition: 5ms;
}
body #top #top2 #f4 #language #lang::-webkit-slider-thumb {
  -webkit-transition: 10ms;
  transition: 10ms;
  -webkit-appearance: none;
  height: 12px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
}
body #top #top2 #f4 #the {
  justify-self: center;
  align-self: end;
}
body #top #top2 #f4 #the input {
  background-color: black;
  accent-color: #000000;
  content: "rgb(0, 0, 0)";
}
body #top #top2 #f4 #the #theme {
  margin: 0;
  color: black;
}
body #top #top2 #f4 #the #theme:hover {
  font-size: 18px;
  cursor: pointer;
  -webkit-text-decoration: underline solid rgb(0, 0, 0);
          text-decoration: underline solid rgb(0, 0, 0);
  transition: 0.5s;
  color: black;
}
body #top #top2 #open {
  justify-self: end;
  align-self: end;
  grid-column: 2;
  grid-row: 2;
}
body #top #top2 #open #openModal {
  border: none;
  background: none;
  font-family: math;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: underline;
  cursor: pointer;
  color: rgb(251, 251, 251);
  transition: 0.5s;
  padding: 0;
}
body #top #top2 #open #openModal:hover {
  font-size: 16px;
  background-color: gray;
  text-decoration: none;
  color: white;
  transition: 0.2s;
  position: relative;
  box-shadow: 0 0 0 5px rgb(200, 200, 200);
  letter-spacing: 3px;
  transition: 0.5s;
  padding: 3px 5px;
}
body #top #top2 #help #btnHelp {
  margin: 0;
  position: relative;
}
body #top #top2 #help #btnHelp .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 80%;
  height: 80%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
body #top #top2 #help #btnHelp .modal-content {
  color: rgb(0, 0, 0);
  font-size: 24px;
  padding: 50px 70px;
  pointer-events: none;
}
body #top #top2 #help #btnHelp .close {
  /* some rules */
}
body #window {
  width: 100%;
  height: 80vh;
  position: absolute;
}
body #window #Finish {
  display: none;
  position: relative;
  font-size: 56px;
  top: 200px;
  color: aqua;
}
body #window #clean {
  height: 100%;
  width: 100%;
  background: none;
  color: transparent;
  border: none;
  margin: 0 auto;
  padding: 0;
}
body #window > div {
  position: absolute;
  text-align: center;
  pointer-events: none;
}
body #window > div p {
  font-size: 60px;
  margin: 0;
  color: black;
  font-family: Times;
  font-weight: bold;
}
body #window::after {
  content: "";
  display: block;
  clear: both;
}/*# sourceMappingURL=style.css.map */