body{
    margin: 0 auto;
    height: 100vh;

    #seting{
        text-align: center;
        background-color: gray;
        height: 40px;
        
        #speed{
            margin-right: 40px;
            margin-left: 30px;
            font-size: 18px;
        }
        #fill{
            margin-right: 30px;
            margin-left: 40px;
            font-size: 18px;
        }

        #time{
            height: 25px;
            width: 80px;
        }
        #sise{
            height: 25px;
            width: 80px;
        }
        #On{
            height: 25px;
            width: 80px;
        }

        &>.form{
            height: 35px;
            width: 100px;
            text-align: center;

        }
        
    }

    #window{
        width: 100%;
        height: 90vh;
        margin: auto;
        position: absolute;
        

         &>div{
        position: absolute;
        text-align: center;


        p{
            font-size: 60px;
            margin: 0;
            color: black;
        }
    }
    }

   
}